[
  {
    "id": "site1",
    "title": "Site 1",
    "lang": ["fr", "en"],
    "templates": [
      {
        "id": "test",
        "title": "Test",
        "components": [
            {"id" : "builder", "title": "Builder", "type": "builder", "help": "Build your own layout"}
        ]
      },
      {
        "id": "accueil",
        "title": "Accueil",
        "seo": true,
        "components": [
            {"id" : "titre", "title": "Titre", "type": "text"},
            {"id" : "contenu", "title": "Contenu", "type": "wysiwyg"},
            {"id" : "image", "title": "Image", "type": "image", "multiple": "multiple"},
            {"id" : "slides", "title": "Slides", "type": "list", "template": "slide"}
        ]
      },
      {
        "id": "contact",
        "title": "Contact",
        "seo": true,
        "components": [
            {"id" : "titre", "title": "Titre", "type": "text"},
            {"id" : "telephone", "title": "Téléphone", "type": "text"},
            {"id" : "email", "title": "Email", "type": "email"},
            {"id" : "adresse", "title": "Adresse", "type": "textarea"}
        ]
      },
      {
        "id": "notresalon",
        "title": "Notre Salon",
        "seo": true,
        "components": [
            {"id" : "titre", "title": "Titre", "type": "text"},
            {"id" : "builder", "title": "Builder", "type": "builder", "help": "Build your own layout"}
        ]
      },
      {
        "id": "nos-actualites",
        "title": "Actualités",
        "seo": true,
        "components": [
            {"id" : "titre", "title": "Titre", "type": "text"},
            {"id" : "actualites", "title": "Actualités", "type": "list", "template": "actualite"}
        ]
      },
      {
        "id": "actualite",
        "title": "Actualité",
        "seo": true,
        "components": [
            {"id" : "titre", "title": "Titre", "type": "text"},
            {"id" : "image", "title": "Image", "type": "image"},
            {"id" : "date", "title": "Date", "type": "date"},
            {"id" : "description", "title": "Description", "type": "textarea"}
        ]
      },
      {
        "id": "slide",
        "title": "Slide",
        "components": [
            {"id" : "image", "title": "Image", "type": "image"},
            {"id" : "titre", "title": "Titre", "type": "textarea"},
            {"id" : "description", "title": "Description", "type": "textarea"}
        ]
      },
      {
        "id": "location",
        "title": "Location",
        "components": [
            {"id" : "titre", "title": "Titre", "type": "text"},
            {"id" : "coordonnees", "title": "Coordonnees", "type": "list", "template": "coordonnee"}
        ]
      },
      {
        "id": "coordonnee",
        "title": "Coordonnee",
        "components": [
            {"id" : "lat", "title": "Latitude", "type": "text"},
            {"id" : "long", "title": "Longitude", "type": "text"}
        ]
      }
    ]
  },
  {
    "id": "site2",
    "title": "Site 2",
    "lang": ["fr", "en", "de"],
    "templates": []
  }
]
