doctype html
html
  head
    meta(name="robots" content="noindex")
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/moment/min/moment-with-locales.min.js')
    script(src='/bower_components/nprogress/nprogress.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/select2/dist/js/select2.min.js')
    script(src='/bower_components/summernote/dist/summernote.min.js')
    script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='/js/app.js')
